#root {
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

td {
  width: 30px;
  height: 30px;
}

th.numbers-th {
  width: 30px;
  height: 30px;
}

.parent-container {
  display: flex;
  flex-direction: row;
  gap: 0%;
}

.color-legend {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 50px;
}

@media only screen and (max-width: 650px) {
  .parent-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
  }

  .color-legend {
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin-left: 0;
  }
}

.color-label {
  width: 20px;
  height: 20px;
  border-radius: 100%;
}

.footer {
  color: 'red'
}