#root {
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

td {
  width: 30px;
  height: 30px;
}

th.numbers-th {
  width: 30px;
  height: 30px;
}

.parent-container {
  display: flex;
  flex-direction: row;
  gap: 0%;
}

.grandparent-container {
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  grid-template-columns: 1fr;
}

.calendar {
  display: grid;
  grid-template-rows: repeat(32, 1fr);
  grid-template-columns: repeat(13, 1fr);
  row-gap: 2px;
  column-gap: 2px;
  padding: 10px 10px;
  border-radius: 10px;

  justify-items: center;
  align-items: center;

  transition-duration: 200ms;
}

@keyframes rotateAnimation {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(180deg);
  }
}

.calendar-mood-box {
  animation: rotateAnimation;
  animation-duration: 2s;
}

.calendar-mood-box:hover {
  transform: scale(1.1);
  transition-duration: 200ms;
  box-shadow: 1px 1px 10px rgb(92, 92, 92);
}

.calendar-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;

  width: 40px;
  height: 40px;

  /* width: 100%;
  height: 100%; */
}

.calendar-empty {
  background: transparent;
  pointer-events: none;
}

/* .calendar-day {
}

.calendar-month {
} */

.color-legend {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  border-radius: 10px;
  color: black;
  width: fit-content;
  height: fit-content;
  z-index: 100;
}

.color-label {
  width: 20px;
  height: 20px;
  border-radius: 100%;
}

.color-legend-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  margin-top: -5px;
  margin-bottom: -5px;
}

.color-select-popup {
  padding: 8px 10px;
  position: fixed;
  z-index: 100;
  transform: translateX(-50%);
  display: flex;
  gap: 5px;
  border-radius: 10px;
}

.popup-color-option {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  cursor: pointer;
}

.popup-color-option:hover {
  transform: scale(1.1);
  transition-duration: 200ms;
}

.popup-color-option-empty {
  width: 26px;
  height: 26px;
  background: transparent;
  border: 2px solid #a84242;
  display: flex;
  justify-content: center;
}

.popup-color-option-empty-line {
  width: 2px;
  height: 100%;
  background: #a84242;
  transform: rotate(45deg);
}

.footer {
  color: 'red'
}